.countdown-container{
  width: 100%;
}
#countdown{
    margin-left: 15%;
    margin-right: 15%;
}
.about > p {
    font-size: 20px;
}
.pricing-card {
    height: 75vh;
}
#standBtn{
    margin-top: 5.7em;
}
.activity-info > div.collection {
    text-align: center;
}
.payment{
    text-align: center;
    width: 100%;
}
.newsletter-container > form {
    margin-left: 20%;
    margin-right: 20%;
}