$primaryColor: #522888;
$secondaryColor: #ffd700;
$backColor: #bbc2ca;
$fontColor: #ffffff;
$gutter: 2%;
$gutterdbl: (2 * $gutter);
$defaultFont: 'Lato', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;
$padding-space: 5em;
// length of each slide in seconds
$animation-delay: 6s;